# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

node_modules

## hardhat
**/generated/artifacts/@openzeppelin
**/generated/artifacts/build-info
**/generated/artifacts/contracts/**/*.dbg.json
**/generated/cache

# OpenZeppelin
# It is advised that you commit to source control the files for all networks except the development ones
# (you may see them as .openzeppelin/unknown-*.json).
# Documentation here: https://github.com/OpenZeppelin/openzeppelin-upgrades
unknown-*.json

# testing
/coverage

# production
build

# misc
.DS_Store
keystore
certs
.env

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

typechain-types
ipfs/
