.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/* FatFrank */
@font-face {
  font-family: 'Fatfrank';
  src: url('../assets/fonts/FatFrank/FatFrank-Regular.eot');
  src: url('../assets/fonts/FatFrank/FatFrank-Regular.eot?') format('embedded-opentype'),
    url('../assets/fonts/FatFrank/FatFrank-Regular.woff') format('woff'),
    url('../assets/fonts/FatFrank/FatFrank-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Trade Gothic */
@font-face {
  font-family: 'Trade Gothic';
  src: url('../assets/fonts/TradeGothic/TradeGothicLTStd-BoldExt.otf') format('opentype');
  font-style: normal;
}

.fat-frank {
  font-family: fatfrank, 'Comic Sans MS', sans-serif;
  letter-spacing: 0;
}

.trade-gothic {
  font-family: Trade Gothic, sans-serif;
}
